.chapter-link {
  background-color: #fff;
  text-decoration: none;
  color: black;
  width: 20%;
  height: 100px;
  border: 0.5px solid rgba(211, 211, 211, 0.308);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chapter-link:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.74);
}
