header {
  height: 80px;
}

.one {
  background-color: #fff;
  height: 40px;
}

.two {
  background-color: rgba(211, 211, 211, 0.308);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: transparent;
  margin-bottom: 25px;
  padding: 10px 40px;
  cursor: pointer;
  color: black;
  border: none;
}

.activate {
  background: transparent;
  color: black;
  border-bottom: 2px solid black;
}
